  body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
   
  
  .generalButton button{
    background-color:rgb(90, 154, 226);
    color:white;
    font-size: large;
    padding: 13px 50px;
    float: left;
    border: none;
    width:25%;
  }

  .generalButton button:hover{
    background-color: rgb(4, 27, 53);
    color:white;
  }

  #currentPage button{
    background-color:  rgb(4, 27, 53);
    color:white;
  }
  
  #outside {
    padding: 100px;
    background-color:rgb(25, 114, 216);
  }
  h1{
    padding:50px;
    background: rgb(4, 27, 53);
    color:white;
    font-weight:bold;
    text-align: center;
    font-size: 50px;
    margin-bottom:-5px;
  }

  footer{
    position:fixed;
    bottom:0;
    left:0;
   }

   form{
    text-align: center;
   }

   table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(odd){
    background-color: palegoldenrod;
  }
  tr:nth-child(even) {
    background-color: lightyellow;
  }

  .photoGall{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap:0;
    column-gap: 0;
  }

  .photoGall img{
    object-fit: cover;
    width:100%
  }